
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.nibble {
  border: black solid 1px;
  margin: 0 5% auto;
}
header {
  margin:  auto;
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}
.container {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: justify-content;
}

.section {
  border:#222 solid 1px;
}
footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}
