
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  
}

header {
  
}

section {
  display: flex;
  flex-direction: row;
  border:#222 solid 1px;
}
footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}
