{{ define "main" }}
  {{ .Content }}
  <div class="">
      {{ range site.Sections }}
      <div class="media">
        <img class="mr-3" src="https://picsum.photos/100/150" alt="random image">
        <ldiv class="media-body">{{ .LinkTitle }}</div>
          {{ range .Pages.Limit 1 }}
            <a href="{{ .RelPermalink }}">{{ .Summary }}</a>
          </div>
        {{ end }}
    
     <hr>
    {{ end }}
  <!--
  <hr>
  <p>template home.html</p>
  <p>Type : {{ .Page.Type }}</p>
  <p>Kind : {{.Page.Kind}}</p>
  <p>file : {{.Page.File}}</p>
  <p>BundleType : {{.Page.BundleType}}</p>
  <p>site.sections : {{.Site.Sections}}</p>
-->
 </div> <!-- container -->
{{ end }}
