{{ define "main" }}
  {{ .Content }}
  <div class="">
      {{ range site.Sections }}
      <div class="media border border-dark p-3 m-4 rounded">
        
          {{ range .Pages.Limit 1 }}
              {{ range .Resources.ByType "image" }}
              <img class="mr-3" src="{{ .RelPermalink }}" width="100" alt="{{ .Title }}">
                {{end}}
          {{ end }}
            <div class="media-body">
              <h5 class="mt-1">{{ .LinkTitle }} </h5>
          <p class="display-5">
            {{ range .Pages.Limit 1 }}
            <a href="{{ .RelPermalink }}">{{ .Summary }}</a>
          </p>
            {{ end }}
          </div>
         
        </div>
  
    {{ end }}
  <!--
  <hr>
  <p>template home.html</p>
  <p>Type : {{ .Page.Type }}</p>
  <p>Kind : {{.Page.Kind}}</p>
  <p>file : {{.Page.File}}</p>
  <p>BundleType : {{.Page.BundleType}}</p>
  <p>site.sections : {{.Site.Sections}}</p>
-->
 </div> <!-- container -->
{{ end }}
