
{{ define "main" }}
    <div class="card-body" >
        <h2 class="card-title">{{ .Title }}</h1>
    

    <nav class="border">
            {{with .NextInSection}}
                <a href="{{ .RelPermalink }}">Précédent</a>
            {{end}} 
    </nav>
    <section class="border">       
            {{ range .Resources.ByType "image" }}
            <img src="{{ .RelPermalink }}"  width="300" alt="{{ .Title }}" />
            {{ end }}
            
            <div class="card-text">
                {{ .Content }}
            </div>
    </section>

    <nav>
        {{with .PrevInSection}}
        <a href="{{ .RelPermalink }}">Suivant</a>
        {{end}}
    </nav>
    </div>        
       
    <!--{{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}-->
<!--
    <p>template Single.html</p>
    <p>Type : {{ .Page.Type }}</p>
    <p>Kind : {{.Page.Kind}}</p>
    <p>file : {{.Page.File}}</p>
    <p>BundleType : {{.Page.BundleType}}</p>
    <p>resource : {{.Page.Resources}}</p>
-->
{{ end }}
